.container {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.title {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 100;
}

.description {
	font-weight: 200;
}

.descriptionHeader {
	color: #6b8bbb;
	font-weight: 300;
	// font-size: 0.5em;
}

hr {
	margin-bottom: 0.5em;
}

.picture {
	cursor: pointer;
}

.selectedPicture {
	border: 1px solid #6b8bbb;
}

// .button {
// 	border-radius: 0;
// 	background-color: #f4f4f4;
// }
