.text {
	font-weight: 300;
	color: rgba(0, 0, 0, 0.7);
	padding-bottom: 2em;
}

.header {
	font-weight: 200;
	font-size: 2em;
	// color: #6b8bbb;
	color: #9ab1d4;
	text-align: center;
	font-family: 'Taviraj';
}

.copenhagen {
	font-size: 4.2em;
	font-family: 'Copenhagen';
	margin-top: 1.2em;
	line-height: 0.1;
	color: rgba(0, 0, 0, 0.2);
}

.meetAshley {
	font-family: 'Copenhagen';
	text-align: center;
	font-size: 4.2em;
	color: rgba(0, 0, 0, 0.3);
	// margin-bottom: 0.5em;
}

.imageTriadOne {
	height: 450px;
	// min-height: 350px;
}

.imageTriadTwo {
	height: 450px;
	// min-height: 350px;
	// position: relative;
	// top: 200px;
	// right: 200px;
}

.imageTriadThree {
	height: 450px;
	// min-height: 350px;
	// position: relative;
	// top: 400px;
	// right: 400px;
}
