.header {
	font-weight: 200;
	font-size: 2em;
	// color: #6b8bbb;
	color: #9ab1d4;
	text-align: center;
	margin-bottom: 2em;
	font-family: 'Taviraj';
}

.link {
	color: black;
	font-weight: 200;
}

.link:hover {
	text-decoration: none;
	color: #666666;
}

.productTitle {
	color: #6b8bbb;
	font-weight: 100;
	margin-top: 0.3em;
}

.picture {
	height: 40vh;
}

.copenhagen {
	text-align: center;
	font-size: 4em;
	font-family: 'Copenhagen';
	margin-top: 1.2em;
	line-height: 0.1;
	color: rgba(0, 0, 0, 0.2);
}
