.picture {
	max-height: 90vh;
	min-height: 50vh;
}

.badge {
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	margin-bottom: 1em;
	font-size: 1.2em;
	background-color: #fff;
	font-weight: 200;
	color: #6b8bbb;
}

.badge:hover {
	background-color: rgba(255, 255, 255, 0.75);
}

.carouselTag {
	font-size: 1em;
	font-weight: 300;
	margin-top: 1em;
	color: rgba(0, 0, 0, 0.5);
}

.caption {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	left: 0;
	right: 0;
}
