.footer {
	// margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
	min-height: 10rem;
	font-weight: 100;
	color: #fff;
}

.topLevel {
	margin-bottom: 1em;
}

.list {
	list-style: none;
	padding-left: 0;
	font-weight: 300;
}

.lowerLevel {
	font-weight: 300;
}

.link {
	text-decoration: none;
	color: #fff;
}

.link:hover {
	text-decoration: none;
	color: #fff;
}
